fastapi[all]
pydantic
uvicorn[standard]
sqlalchemy
supabase
razorpay
redis[async]
python-dotenv
PyJWT[crypto]
python-multipart
httpx
passlib[bcrypt]
websockets>=10.0
slowapi==0.1.9
bleach
redis
python-jose[cryptography]
cryptography